<html>
    <head>
        <link rel="stylesheet" href="character-image.css"/>
    </head>
    <body>
        
    

<div class="img-section">
    <div class="img-header">
        <a href="#">
            <div class="back-link">
                <span class="material-symbols-outlined">
                    chevron_left
                    </span>Narutodex
            </div>
        </a>
        <div class="number">#001</div>
    </div>
    <div class="img-div">
        <img src="https://w7.pngwing.com/pngs/192/901/png-transparent-chibiusa-kakashi-hatake-hinata-hyuga-naruto-chibi-face-head-boy.png">
    </div>
</div>
</body>
</html>