.img-section {
    background-color: #F2A30B;
    border-radius: 0 0 50px 50px;
    height: 300px;
    width: 100%;
}
.img-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
}
.back-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-header a {
    color: inherit;
    text-decoration: none;
}
.img-header a:hover {
    color: white;
}
.img-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.img-section img {
    width: 60%;    
    object-fit: cover;
    padding: 20px;
}