<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>naruto app components</title>
        <meta name="description" content="App components design">
        <meta name="author" content="Artem Nedohibchenko">

        <link rel="stylesheet" href="card.css">

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Open+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="card">
            <div class="img-div positioning"><img src="https://naruto-official.com/index/char_naruto.webp"></div>
            <div class="card-container positioning">
                <p>naruto</p>
            </div>
        </div>
        <scrip src="js/script.js"></scrip>
    </body>

</html>